<div class="proba">
  <app-heading [title]="title" ></app-heading>
  <div class="questions">
    <app-question *ngFor="let question of questions
                  | paginate: {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count};
                  let i = index"
                  [question]="question " ></app-question>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

