<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2 card-body">
      <button type="button" (click)="postLike()" [disabled]="disableUp" class="arrow"><i class="gg-arrow-up-o"></i></button>
      <p id="numVotes">{{likes}}</p>
      <button type="button" (click)="postUnlike()" [disabled]="disableDown" class="arrow"><i class="gg-arrow-down-o"></i></button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{question?.title}}</h5>
        <p class="card-text">{{question?.questionText}}</p>
        <p *ngFor="let tag of tags" class="tag">{{tag}}</p>
      </div>
    </div>
  </div>
</div>
