<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/top-questions">
      <!--      <img src="https://i.ibb.co/tY1d2SW/1-2-1.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">-->
      <span id="logo">CodeCenter</span>
    </a>
    <div class="search-container">
      <div class="searchbar">
        <label for="search-input" class="search-icon-wrapper">
          <button type="submit" id="searchIconButton" (click)="submitSearch()"><div class="search-icon"></div></button>
        </label>
        <input type="text" class="search-input" id="search-input" placeholder="Search questions here..." [(ngModel)]="searchTag">
      </div>
    </div>
    <button id="login" type="button" >Log In</button>
  </div>
</nav>
