.proba{
  height: 100%;
  width: 100%;
  background-color: #E8EAE3;
  padding: 30px;
}
.heading
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.btn-outline-success
{
  background-color: #FA2742;
  color: #FFFFFF;
  border-color: #FA2742;
}
h3
{
  color: #383A21;
}
app-question
{
  left: 0;
  right: 0;
  width: 100%;
}
.tags
{
  display: flex;
  justify-content: flex-start;
}
.tag
{
  background-color: #FA2742;
  color: #FFFFFF;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
